#error{
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-size: 400%;
    margin-top: 200px;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #363943;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}