.displayEpisodeData {
    display: flex;
}
.episodeDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 60px;
}

.episodeNameDateWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.playerContainer {
    background-color: #292D39;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 8px;
    padding: 24px 30px;
    margin-top: 50px;
}

.trackTimeWrapper {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.commentAndEpisodesGrid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1em;
    margin-top: 30px;
}

.miniEpisodesList {
    background-color: #292D39;
    border-radius: 8px;
    padding: 0px 10px 10px 10px;
    max-height: 800px;
    overflow-x: overlay;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.miniEpisodeWrapper {
    padding: 10px;
    margin: 10px;
    background-color: #363943;
    border-radius: 0.5rem;
    display: flex;
    cursor: pointer;
}

.miniEpisodeData {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#playerButton{
    background: none;
    border: none;
    margin: 0 0px 0;
}

#pausePlay{
    color: #7E66D8;
}


#player{
    display: flex;
    justify-content: left;
}


#showImage{
    width: 230px;
    height: 230px;
}

.stickyName{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #292D39;
    padding-top: 15px;
    padding-bottom: 5px;
}

/* MOBILE */
@media only screen
  and (max-device-width: 600px) {
    .displayEpisodeData{
        display: block;
    }
    .episodeNameDateWrapper{
        display: block;
    }
    .episodeDataContainer{
        margin-right: 0px;
        padding: 15px 15px 15px 15px;
    }
    #showImage{
        width: 200px;
        height: 200px;
    }
    .commentAndEpisodesGrid {
        display: block;
    }
    .miniEpisodesList {
        margin-top: 60px;
    }
}