.displayEpisodeData {
    display: flex;
    justify-content: space-between;
}
.episodeDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 60px;
}

.episodeNameDateWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.playerContainer {
    background-color: #292D39;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 8px;
    padding: 24px 30px;
    margin-top: 50px;
}

.trackTimeWrapper {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 30px;
}

.commentAndEpisodesGrid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1em;
    margin-top: 30px;
}

.miniEpisodesList {
    background-color: #292D39;
    border-radius: 8px;
    padding: 0px 10px 10px 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.miniEpisodesListWrapper {
    max-height: 800px;
    overflow-x: overlay;
}

.miniEpisodeWrapper {
    padding: 10px;
    margin: 0px 10px 10px;
    background-color: #363943;
    border-radius: 0.5rem;
    display: flex;
    cursor: pointer;
}

.miniEpisodeData {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playerButton{
    margin: 0 10px 0;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 16px;
    border-radius: 90px;
    background-color: #7E66D8;
    text-align: left;
    border: none;
}

button:active{
    box-shadow: inset 2px 2px 5px #292D39 , -2px -2px 11px  #292D39;
}

input:focus,
select:focus,
button:focus {
    outline: 0;
}

button img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 42%;
    height: 42%;
}


#player{
    display: flex;
    justify-content: left;
}


#showImage{
    width: 230px;
    height: 230px;
}

.stickyName{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #292D39;
    padding-top: 15px;
    padding-bottom: 5px;
}

/* progress bar styling */

.range {
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: -407px 0 0 400px #7E66D8;
}


/* MOBILE */
@media only screen
  and (max-device-width: 600px) {
    .displayEpisodeData{
        display: block;
    }
    .episodeNameDateWrapper{
        display: block;
    }
    .episodeDataContainer{
        margin-right: 0px;
        padding: 15px 15px 15px 15px;
    }
    #showImage{
        width: 200px;
        height: 200px;
    }
    .commentAndEpisodesGrid {
        display: block;
    }
    .miniEpisodesList {
        margin-top: 60px;
    }
    #playerButton {
        margin: 0;
    }
}