.displayEpisodeData {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 84px;
}
.episodeDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 60px;
}

.subTitleText1{
    color: #868895;
}

.subTitleText2{
    color: #868895;
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;
}

.episodeNameDateWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

#epDate{
    color: #868895;
    font-weight: 600;
    font-size: 20px;
}

.playerContainer {
    background-color: #292D39;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    border-radius: 8px;
    padding: 36px 48px;
}

.trackTimeWrapper {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding-top: 8px;
}

.commentAndEpisodesGrid {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 53px;
    margin-top: 48px;
}

.likesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.form-control {
    padding: 12px 20px;
}

.miniEpisodesList {
    padding-right: 8px;
    background-color: #292D39;
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
.miniEpisodesListWrapper {
    max-height: 800px;
    overflow-x: overlay;
}

.miniEpisodeWrapper {
    padding: 17px 24px 17px 16px;
    margin: 0px 32px 16px 24px;
    background-color: #363943;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

#min{
    color: #868895;
    font-size: 16px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: color 0.5s ease-in-out;
}

#date{
    color: #868895;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.5s ease-in-out;
}

.miniEpisodeWrapper:hover {
    background-color: #7E66D8;
}

.miniEpisodeWrapper:hover .miniEpisodeData #min,
.miniEpisodeWrapper:hover .miniEpisodeData #date,
.miniEpisodeWrapper:hover .episodesRight {
    color: #FFFFFF;
}

#moreEp{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}


.miniEpisodeData {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

#playerButton{
    margin: 0 10px 0;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0px 24px 0px 24px;
    border: none;
    cursor: pointer;
}

button:active{
    box-shadow: inset 2px 2px 5px #292D39 , -2px -2px 11px  #292D39;
}

input:focus,
select:focus,
button:focus {
    outline: 0;
}

button img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 42%;
    height: 42%;
}


#player{
    display: flex;
    justify-content: left;
}


#showImage{
    width: 240px;
    height: 240px;
}

.stickyName{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #292D39;
    margin: 36px 0px 24px 32px;
}

/* progress bar styling */

.range {
    -webkit-appearance: none;
    background: #868895;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    height: 24px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    z-index: 100;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: -1000px 0 0 990px #7E66D8;
}


/* MOBILE */
@media only screen
  and (max-device-width: 600px) {
    .displayEpisodeData{
        display: block;
    }
    .episodeNameDateWrapper{
        display: block;
    }
    .episodeDataContainer{
        margin-left: 0px;
        padding: 15px 15px 15px 15px;
    }
    #showImage{
        width: 200px;
        height: 200px;
    }
    .commentAndEpisodesGrid {
        display: block;
    }
    .miniEpisodesList {
        margin-top: 60px;
    }
    #playerButton {
        margin: 0;
    }
    .likesContainer {
        display: block;
        margin-bottom: 15px;
    }
    #progressBar{
        margin-top: 50px;
    }
}