.podcastName {
  font-family: 'Poppins', sans-serif;
  line-height: 48px;
}

.episodesListWrapper {
  padding: 84px 164px 84px;
}
.episodeWrapper {
  display: flex;
  padding: 24px 48px 24px 32px;
  background-color: #363943;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
  border-radius: 8px;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}

.episodeListGrid {
  display: grid;
  grid-template-columns: repeat(1, auto); 
  gap: 24px;
}

.episodeDataWrapper {
  margin-left: 48px;
  display: flex;
  flex-direction: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.episodeWrapper:hover {
  background-color: #7E66D8;
}


.episodeWrapper:hover span {
  color: #FFFFFF;
}

.episodeMinutes {
  font-size: 14px;
  color: #868895;
  transition: color 0.5s ease-in-out;
}
.about{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.titleDateWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectedShow {
  display: flex;
}

.aboutDescriptionWrapper,
.aboutEpisodeWrapper {
  display: flex;
  flex-direction: column;
}

.showDataWrapper {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aboutEpisodeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 30px;
}
.episodeListName {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  padding-bottom: 4px;
}

.aboutEp {
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.aboutEpisodeWrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 30px;
}

.epDescription{
  font-size: 16px;
  color: #868895;
  line-height: 19px;
  transition: color 0.5s ease-in-out;
}

.episodeDate {
  text-align: end;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  width: 200px;
  padding-top: 24px;
}

.subTitleText1 {
  color: #868895;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding-top: 4px;
}

.subTitleText2 {
  color: #868895;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 8px;
}

#episodeImage{
  width: 181px;
  height: 181px;
}

.episodesTitle{
  margin-top: 84px;
  line-height: 39px;
  padding-bottom: 34px;
}


/* MOBILE */
@media only screen
  and (max-device-width: 600px) {
    .episodesListWrapper {
      padding: 10px;
    }
    .selectedShow {
      display: block;
      padding-bottom: 5px;
    }
    #showImage{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .showDataWrapper {
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 35px;
      padding-right: 35px;
    }
    .aboutDescriptionWrapper {
      margin-top: 10px;
    }
    #episodeImage{
      width: 80px;
      height: 80px;
    }
    .episodeWrapper {
      padding: 12px;
    }
    .titleDateWrapper {
      display: block;
    }
    .episodeDataWrapper {
      margin-left: 10px;
      display: block;
    }
    .episodeTitle {
      margin-bottom: 5px;
    }
    .episodeListGrid{
      grid-template-columns: 100%;
    }
    .episodeDate {
      text-align: left;
    }
    .aboutEpisodeWrapper2{
      display: none;
    }
    .episodeListName {
      font-size: 16px;
    }
  }