.podcastName {
  font-family: 'Poppins', sans-serif;
}

.episodesListWrapper {
  padding: 32px 200px;
}
.episodeWrapper {
  display: flex;
  padding: 32px;
  background-color: #363943;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  border-radius: 8px;
  cursor: pointer;
}

.episodeListGrid {
  display: grid;
  grid-template-columns: repeat(1, auto); 
  gap: 1em;
  margin-top: 30px;
}

.episodeDataWrapper {
  margin-left: 30px;
  display: flex;
  flex-direction: flex;
  flex-grow: 1;
  justify-content: space-between;
}



.titleDateWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectedShow {
  display: flex;
}

.aboutDescriptionWrapper,
.aboutEpisodeWrapper {
  display: flex;
  flex-direction: column;
}

.showDataWrapper {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aboutEpisodeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 30px;
}

.aboutEpisodeWrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 30px;
}


.episodeDate {
  text-align: end;
  width: 200px;
}

.subTitleText {
  color: #868895;
}

#episodeImage{
  width: 160px;
  height: 160px;
}


/* MOBILE */
@media only screen
  and (max-device-width: 600px) {
    .episodesListWrapper {
      padding: 10px;
    }
    .selectedShow {
      display: block;
      padding-bottom: 5px;
    }
    #showImage{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .showDataWrapper {
      margin-top: 5px;
      margin-left: 10px;
    }
    #episodeImage{
      width: 80px;
      height: 80px;
    }
    .episodeWrapper {
      padding: 12px;
    }
    .titleDateWrapper {
      display: block;
    }
    .episodeDataWrapper {
      margin-left: 10px;
      display: block;
    }
    .episodeTitle {
      margin-bottom: 5px;
    }
    .episodeListGrid{
      grid-template-columns: 100%;
    }
    .episodeDate {
      text-align: left;
    }
    .aboutEpisodeWrapper2{
      display: none;
    }
  }