.AddComment{
    margin-top: 15px;
}
#commentHeader{
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    padding-top: 20px;
}

#commentTime{
    display: flex;
    align-items: center;
}

#commentForm{
    flex-grow:1;
    border-radius: 0.5rem;
}

#ruler{
    border-color: white;
    width: 95%;
}

#timeChoice{
    background: #8CC284;
    border-radius: 0.5rem;
    padding: 7px 12px;
    font-weight: 600;
}

#addCommentBtn{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.playTimeWrapper{
    display: flex;
    align-items: center;
}

#addCommentBtn:hover {
    color: #34c76c;
}

/* MOBILE */
@media only screen
  and (max-device-width: 600px) {
    .AddComment{
        margin-top: 5px;
    }
    #commentTime{
        display: block;
    }
    .playTimeWrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
}