.AddComment{
    margin-top: 15px;
}
#commentHeader{
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    padding-top: 20px;
}

#commentTime{
    display: flex;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
}

#commentForm{
    flex-grow:1;
    border-radius: 5px;
}

#ruler{
    border-color: white;
    width: 95%;
}

#timeChoice{
    margin-right: 10px;
    margin-left: 5px;
    background: #34c76c;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 8px;
}

#addCommentBtn{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.playTimeWrapper{
    display: flex;
}

#addCommentBtn:hover {
    color: #34c76c;
}

/* MOBILE */
@media only screen
  and (max-device-width: 600px) {
    .AddComment{
        margin-top: 5px;
    }
    #commentTime{
        display: block;
    }
    .playTimeWrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
}