.Team{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    margin-top: 64px;
}

.teamTitle {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0 auto 30px;
    cursor: pointer;
}

.teamHeading{
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background: none;
    border: none;
    transition: color 0.2s ease-in-out;
}

#arrow2{
    color: #868895;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.teamTitle:hover .teamHeading,
.teamTitle:hover #arrow2 {
    color: #7E66D8;
}

.teamWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    max-height: 0;
    overflow: hidden;
    -moz-transition: max-height .5s ease;
    -ms-transition: max-height .5s ease;
    -o-transition: max-height .5s ease;
    -webkit-transition: max-height .5s ease;
    transition: max-height .5s ease;
}


.member{
    background-color: #363943;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
    border-radius: 8px;
    margin: 15px;
    padding: 20px;
    text-align: center;
}

#profilePic{
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
}

#memberName{
    display: block;
}

#memberTitle{
    display: block;
    color: #868895;
    padding-bottom: 25px;
}

#memberLink{
    display: block;
    color: #7E66D8;
}



/* MOBILE */
@media only screen
  and (max-device-width: 600px) {
    .teamWrapper{
        display: block;
    }
}