body{
    background: linear-gradient(to bottom right, #015211, #abffbb) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Home{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.appTitle{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 300%;
}

#appName{
    font-size: 110%;
}

#bio{
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

#logInBtn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#logBtn{
    color: #34c76c;
}

/* SEARCH BAR */

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: white;
    color: #34c76c;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #04801d;
    color: white;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  #searchBar{
    margin-top: 30px;
  }