body{
    background: #22242C;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
button, input {
    font-family: 'Inter', sans-serif;
}

.Home{
    font-family: 'Inter', sans-serif;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.appTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #7E66D8;
    font-size: 300%;
}

#appName{
    font-size: 110%;
    background: #FFFFFF;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

#bio{
    text-align: center;
    color: #868895;
    margin-top: 20px;
    font-size: 16px;
}

#logInBtn{
    display: flex;
    justify-content: center;
}

#logBtn{
    color: #FFFFFF;
}

.btn {
    background-color: #34c76c;
    border-radius: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    padding: 17px 26px;
    border-radius: 500px;
    line-height: 1;
    letter-spacing: 2px;
    border-width: 0;
}

.loginButton:hover {
    background-color: #1ED760;
}

h1, h3 {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}

h5 {
    font-size: 14px;
}

span, p {
    color: #FFFFFF;
}
a, a:hover {
    text-decoration: none;
}


