.Featured {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    padding: 0 164px;
    margin-top: 80px;
}
.featureHeading{
    text-align: center;
    display: block;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background: none;
    border: none;
    transition: color 0.2s ease-in-out;
}

#arrow{
    color: #868895;
    cursor: pointer;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.teamTitle:hover .featureHeading,
.teamTitle:hover #arrow {
    color: #7E66D8;
}



.featuredEp{
    background-color: #363943;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
    border-radius: 8px;
    margin: 15px;
    padding: 20px;
    text-align: center;
}

.featureWrapper{
    display: grid;
    grid-template-columns: repeat(1, auto); 
    gap: 24px;
    max-height: 0;
    overflow: hidden;
    -moz-transition: max-height .5s ease;
    -ms-transition: max-height .5s ease;
    -o-transition: max-height .5s ease;
    -webkit-transition: max-height .5s ease;
    transition: max-height .5s ease;
}

.showFeaturesWrapped{
    margin-bottom: 60px;
}

/* MOBILE */
@media only screen
  and (max-device-width: 600px) {
    .Featured {
        padding: 0px;
    }
    .featureWrapper{
        width: 100%;
        margin: 5px;
    }
}