.Navbar{
   padding: 32px 108px 0 48px;
   display: flex;
   justify-content: space-between;
}

.appLogo {
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;;
}

#navbarName{
   background: #FFFFFF;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 32px;
}

#logo{
   background:  #7E66D8;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


/* MOBILE */
@media only screen
  and (max-device-width: 600px) {
   .appLogo {
      justify-content: center;
      margin-bottom: 10px;
   }
  .Navbar{
     display: block;
     margin-bottom: 0px;
     padding-bottom: 0px;
  }
}