.singleComment {
    background-color: #363943;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    color: white;
    margin-bottom: 24px;
    padding: 32px;
    cursor: pointer;
    border: 4px solid #363943;
}

.singleComment:hover {
    border: 4px solid #8CC284;
}

#commentTime{
    color: #8CC284;
}

#darkerColor{
    color: #868895;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

#at{
    color: #868895;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-left: 7px;
    margin-right: 7px;
}

.nameTimeWrapper{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}

.commentHeadingWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

#commenter{
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;
}