.singleComment {
    background-color: #363943;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 10px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 12px;
    padding: 10px 10px 10px 10px;
    font-family: 'Roboto', sans-serif;
}

#goToTimeBtn{
    background: none;
    border: none;
    color: white;
}

#goToTimeBtn:hover{
    color: #34c76c;
}

#darkerColor{
    color: #868895;
    margin-left: 5px;
}

.nameTimeWrapper{
    display: flex;
    justify-content: left;
}

.commentHeadingWrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}