.singleComment {
    background-color: #363943;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 10px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

#commentRule {
    border-color: white;
    width: 95%;
}

#goToTimeBtn{
    background: none;
    border: none;
    color: white;
}

#goToTimeBtn:hover{
    color: #34c76c;
}

#commenter{
    display: flex;
    justify-content: left;
}